:root {
  --color-primary: #EC6724;
  --color-primary-contrast: #FFFFFF;
  --color-secondary: #363636;
  --color-black: #000000;
  --color-black-dark: #121212;
  --color-black-light: #1E1E1E;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}